#txtValue{
    font-size: 4em;
    display: block;
}

.layoutCalculator{
    display: flex;
    justify-content: center;
}

.calculator{
    border: 1px solid;
    text-align: center;
    max-width: 300px;
    padding: 10px;
}