label{
    font-size: 2em;
}

button{ 
    padding: 10px 10px;
    font-size: 1.1em;
    border-radius: 15px;
    border: none;
    background-color: hsl(0, 0%, 83%);
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}

.layoutRandom {
    display: flex;
}

.layoutRandomBtn{
    margin-left: 10px;
}
