/* position sticky */

.box1 {
    width: 200px;
    height: 200px;
    background-color: brown;
    position: static;
    top: 0px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: azure;
    position: sticky;
    top: 50px;
    left: 50px
}

/*  DROPDOWN MENU */
.dropdown {
    display: inline-block;
}

.dropdown button{
    color: hsl(0, 0%, 0%);
    background: hsl(0, 0%, 80%);
    border: none;
    padding: 10px 15px;
}

.dropdown-options {
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    display: none;
}

.dropdown-options a{
    display: block;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 85%);
}

.dropdown button:hover {
    background: hsl(0, 0%, 76%);
}

.dropdown:hover .dropdown-options{
    display: block;
}

.dropdown-options a:hover{
    background-color: hsl(0, 0%, 78%);
}

/* HORIZONTAL MENU */

.h-menu {
    background-color: hsl(0, 0%, 21%);
}

.h-menu-options {
    text-align: center;
}

.h-menu-options button {
    padding: 15px 20px;
    border: none;
    background-color: hsl(0, 0%, 34%);
    color: hsl(0, 0%, 95%);
    border-radius: 5px;
}

.h-menu-options button:hover {
    background-color: hsl(0, 0%, 40%);
}

/* DIV CONTROL */

.inside1{
    background-color:hsl(295, 34%, 45%);
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.top-row{
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.inside2{
    background-color:hsl(203, 69%, 87%);
    flex: 1;
}

.inside3{
    background-color:hsl(76, 70%, 87%);
    flex: 1;
    min-width: 300px;
}

.inside4{
    background-color:hsl(27, 70%, 87%);
    min-width: 200px;
    text-align: center;
}